.poem {
    margin: 16px 0;
    padding: 12px 16px;
    border-radius:  4px;
    /* border: 1px solid rgba(8, 185, 78, 0.1); */
    background-color: rgba(8, 185, 78, 0.1);
}

.poem-title {
    padding: 0 0 2px 0;
    font-size: 120%;
    font-weight: bold;
}

.poem-line {
    padding: 14px 0 0 0;
}

.tune-title {
    padding: 0 0 2px 0;
    font-size: 120%;
    font-weight: bold;
}

.tune-line {
    padding: 14px 0 0 0;
}

.tune-success {
    color: green;
}

.tune-error {
    color: red;
}